body {
    background-color: #f5f5f5;
    margin: 0;
}

.navbar {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.navbar-title {
    font-weight: bold;
    
    
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 700;
}

#active {
    color: gray; 
}

.navbar-menu li:hover{
    color: gray;
}

.navbar-menu i {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.header {
    background-image: url(https://images.pexels.com/photos/590045/pexels-photo-590045.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header div {
    background-color: white;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 3px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    margin: 30px;
}

.card-header img{
    width: 100%;
}

.card-body {
    text-align: center;
    padding: 15px 25px;
    background-color: white;
}

.card-content h1 {
    font-size: 20px;
    margin: 0;
}

.card-content h2 {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
    color: gray;
}

.card-content p {
    font-size:  12px;
}

.card-footer {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: gray;
}

.card-footer a{
    text-decoration: none;
    color: gray;
}

footer {
    background-color: #0e0e0e;
    color: white;
    text-align: right;
    padding: 30px 30px 20px;
    font-size: 14px;
}

footer p {
    font-size: 14px;
    margin: 0;
}